.btn{
	width: 60px;
	/*border-radius: 2px 2px
	border-left: 2px solid rgb(245,245,245) !important;
	border-bottom: 2px solid rgb(245,245,245) !important;*/
}

.modsBtn{
	background-color: red;
	margin:10px;
}

.numBtn{
	background-color: lightblue;
	margin:10px;
}

#fullEq:after {
    content: '\200b';
}

#answer{
	font-size: 30px;
	font-style: bold;
}